html, body {
  margin: 0;
}

body {
  font-family: "sans-serif";
  color: white;
  text-shadow: #000 3px 3px;
  background: radial-gradient(#123, #234);
}

canvas {
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

.button {
  background: rgba(45, 51, 66, 0.75);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px;
}

.button:hover {
  background: rgba(211, 211, 211, 1);
}

.style-select {
  background: rgba(45, 51, 66, 0.75);
  border-radius: 3px;
  font-size: 15px;
  padding: 0 10px;
  display: inline-block;
  overflow: hidden;
  width: 200px;
}
.style-select span{
  padding: 20px;
}
.flex{
  display: flex;
  line-height: 0px;
}
.flex *{
  flex:1;
  width: 50%;
}

.style-select select:focus {
  outline: none;
}

h1 {
  font-size: 36pt;
  text-align: center;
}

#controls {
  line-height: 15px;
  background: rgba(14, 14, 14, 0.4);
  border-radius: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 270px;
  padding: 5px;
  margin: 120px 10px;
}
.mouse img{
  transform: translateY(10px);
}
#controls h3 {
  text-align: center;
}

#cameraOrbit{
  width: 200px;
  height: 200px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  background: rgba(14, 14, 14, 0.4);
  border-radius: 10px;
}

#game-info {
  background: rgba(14, 14, 14, 0.4);
    border-radius: 10px;
  padding: 10px;
  margin: 10px;
  position: fixed;
  right: 0;
}
#viewNextBlock{
  position: fixed;
  height: 80px;
  top: 0;
  left:-80;
  background: rgba(14, 14, 14, 0.4);
  width: 480px;
  border-bottom-right-radius: 20px;
}
#viewNextBlock img{
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(.51,-0.44,.17,1);
  position: absolute;
  top:0px;
}
#gridInfo{
  line-height: 10px;
  text-align: center;
}
#gridInfo div{
  font-size: 24px;
  padding: 5px 0;
  letter-spacing: -4;
}
#overlay {
  background: rgba(14, 14, 14, 0.4);
  border-radius: 10px;
  box-sizing: border-box;
  left: 40%;
  padding: 1em;
  position: absolute;
  text-align: center;
  width: 270px;
  margin: 120px auto;
}

#overlay #overlay-board-selector {
  font-size: 16pt;
  font-weight: bold;
}

#overlay #overlay-board-selector #overlay-play-button {
  margin-top: 2em;
}
